body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: sans-serif;
}

/* --Container-- */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

/* --Header-- */
.header{
    width: 380px;
    height:200px;
    background-image: url('./bgg.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
/* ---Clear Icon--- */
.clear{
    position: absolute;
    right:1rem;
    top: 1rem;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
}
/* ---showTask--- */
#showTask{
    position: absolute;
    bottom: 7px;
    left: 10px;
    color:#a2a8ef;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 13px;
}

/* ---Adding item to todo list--- */
.add-items{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
#input{
    border-radius: 5px;
    background-color: rgb(190, 189, 189);
}
.add-items #one{
    position: absolute;
    font-size: 40px;
    color: black;
}
.add-items #two{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 25px;
    color: #4162f6;
    display: none;
}
.add-items:hover > #two{
    display: block;
}
.add-items input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-items input::placeholder{
    color: #4162f6;
    font-family: sans-serif;
    font-size: 20px;
}

/* ---Task of todo list --- */
.task{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: white;
    overflow: auto;
    border-radius: 0 0 15px 15px;
}
.task ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    /* color:#af0000; */
    text-shadow: 1px 3px 5px #000;
    cursor: pointer;
}